# This file is a part of [tsnl/cpp_base](https://github.com/tsnl/cpp_base).
# If you make any changes here, please consider upstreaming them so that other projects can consistently follow the same 
# style.

common --enable_bzlmod --noenable_workspace

# Specifies...
#   --config=windows on Windows hosts
#   --config=linux on Linux hosts
#   --config=macos on macOS hosts
# NOTE: We assume our host and target platforms are identical.
common --enable_platform_specific_config

# POSIX settings:
build:linux --cxxopt=-std=c++23 --host_cxxopt=-std=c++23
build:macos --cxxopt=-std=c++23 --host_cxxopt=-std=c++23

# Windows-specific settings
build:windows --cxxopt=/std:c++23preview --host_cxxopt=/std:c++23preview
build:windows --cxxopt=/Zc:preprocessor --host_cxxopt=/Zc:preprocessor
build:windows --cxxopt=/EHsc --host_cxxopt=/EHsc
